<div class="section section-about-team teal lighten-1">
  <div class="row">
    <div class="col m10 l8 push-m1 push-l2">
      <h4 class="white-text">Meet the team</h4>
      <div class="col s12 m6 l3">
        {{#each lintle}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/lintle" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>
      
      <div class="col s12 m6 l3">
        {{#each lebo}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/lebogang" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="col s12 m6 l3">
        {{#each elton}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/elton" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="col s12 m6 l3">
        {{#each motsosi}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/motsosi" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="col s12 m6 l3 hide-on-med-and-up">
        {{#each sehume}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/sehume" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row hide-on-small-only">
    <div class="col m10 l8 push-m1 push-l2">
      <div class="col s12 m6 l3">
        {{#each sehume}}
        <div class="card-panel teal darken-1">
          <div class="card-content">
        <h6 class="center white-text">{{firstName}} {{lastName}}</h6>
        <img class="circle responsive-img" src="{{picture}}" alt="">
        <p class="grey-text text-lighten-4"><strong>{{title}}</strong></p>
        <a href="/sehume" class="btn waves-effect">Read more..</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>


</div>